body {
	background-color: #d5fad5;
	font-family: 'Helvetica Neue', arial, sans-serif;
}

#body {
	margin: 80px auto 0;
	width: 800px;
}

#header {
	clear: both;
}

#header h1 {
	color: #fff;
	font-size: 2.5em;
	float: left;
	margin: 0px;
	-webkit-text-stroke: 1px #7a7;
}

#header h1 a {
	color: #000;
	text-decoration: none;
}

#header #account {
	float: right;
	height: 2.5em;
	line-height: 2.5em;
	vertical-align: bottom;
}

#page {
	background-color: #fff;
	clear: both;
	padding: 10px;
	-webkit-border-radius: 8px;
}

h2 {
	font-size: 1.1em;
	margin: 0px 0px 20px 0px;
	}